NODE_ENV=production
PORT=4000
FRONTEND_URL=https://tu-frontend.vercel.app
PUBLIC_APP_URL=https://tu-frontend.vercel.app

SUPABASE_URL=https://TU-Proyecto.supabase.co
SUPABASE_ANON_KEY=tu_anon_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

SUPABASE_USERS_TABLE=users
SUPABASE_DATASETS_TABLE=datasets
SUPABASE_TABLES_TABLE=user_tables
SUPABASE_PIPELINES_TABLE=pipeline_maps
SUPABASE_DATASET_ACCESS_TABLE=dataset_access
SUPABASE_CLEANING_LOGS_TABLE=cleaning_logs
SUPABASE_INVITATIONS_TABLE=invitations
SUPABASE_CONTACT_REQUESTS_TABLE=contact_requests
SUPABASE_CONTACT_MESSAGES_TABLE=contact_messages

GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret
GOOGLE_REDIRECT_URI=https://tu-backend.up.railway.app/api/auth/google/callback
GOOGLE_GMAIL_REFRESH_TOKEN=tu_refresh_token_para_gmail
GMAIL_INBOX_EMAIL=stvinpz@gmail.com


JWT_SECRET=genera_un_secreto_largo_aqui
JWT_EXPIRES_IN=7d

OTP_EXPIRES_MINUTES=5
OTP_LENGTH=6


BREVO_API_KEY=tu_api_key_brevo
BREVO_FROM=tu_remitente@TU_USER_ID.brevosend.com
BREVO_FROM_NAME=SendAquaLM
CONTACT_NOTIFICATION_EMAIL=ventas@tu-dominio.com
CONTACT_REPLY_TO=ventas@tu-dominio.com
